body{ color: green;
}
.line-content{
    padding: 5px;
}
td {
    display:table-row
    vertical-align:baseline;
}
table{
 border-collapse: seperate;
 font-variant: normal;
 font-size: medium;
 font-weight: initial;
 color: khaki;
}
body{ background-image: url(https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);

}